@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Almaty, Kazakhstan<br />
    Tole bi, 59<br />
    <abbr title="Phone">P:</abbr>
    +7 771 164 62 96
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Aizhan@uid.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@uid.com</a>
</address>