
@{
    ViewBag.Title = "HowWeHelp";
}

<h2>How We Help</h2>

<h5 class="text-muted">
    When it comes to running a life-changing operation, we make every cent count.
</h5>
<div class="row">
    <div class="col-md-5">
        <img src="~/Content/img/pie.jpg" />
    </div>
    <div class="col-md-7">
        <h4>For every <font color="green">$1</font> you give to us</h4>

        <p><h5><font color="green">82 cents</font> goes directly to emergency, development and campaigning work </h5></p>

        <p><h5><font color="green">10 cents</font> is spent on support costs</h5></p>


        <p><h5><font color="green">8 cents</font> is invested to generate future revenue</h5></p>
        <p>On average for every received $1, we invest 82c on our humanitarian, development and campaigning work, where 37c goes to emergensy responce, 2c - campaigning for change and 42c for development work.  We invest 8c to raise further funds, and we invest 10p on support and running costs such as paying the salaries of staff who work all year round to deliver our work and who ensure we are effective and accountable. </p>

    </div>
</div>
