@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Make good things happen!</h1>
    <p class="lead">Together we can make a difference. Let's help each other!</p>
    <p>We can't do it without you! Will you join us?</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/CanHelps/Create">Donate</a>

    </p>

</div>



<section id="portfolio" class="bg-light-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">People who need help</h2>
                <h3 class="section-subheading text-muted">You can help people directly</h3>
            </div>
        </div>
        <div class="row">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="col-md-4 col-sm-6 portfolio-item">

                    <img src="~/Content/img/p1.jpg" class="img-responsive" alt="">

                    <div class="portfolio-caption">
                        <h4>Alexander's Journey</h4>
                        <p class="text-muted">Alexander Goodwin is a 9-year old boy who loves nature.</p>
                    </div>
                </div>
            </a>

            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                <div class="col-md-4 col-sm-6 portfolio-item">

                    <img src="~/Content/img/p2.jpg" class="img-responsive img-centered" alt="">

                    <div class="portfolio-caption">
                        <h4>Eliza Turner</h4>
                        <p class="text-muted">Help 2-year old Eliza with her cancer battle.</p>
                    </div>
                </div>
            </a>


            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                <div class="col-md-4 col-sm-6 portfolio-item">

                    <img src="~/Content/img/p3.jpg" class="img-responsive" alt="">

                    <div class="portfolio-caption">
                        <h4>Bill Brennan</h4>
                        <p class="text-muted">Bill needs treatment in Germany</p>
                    </div>
                </div>
            </a>

            <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                <div class="col-md-4 col-sm-6 portfolio-item">

                    <img src="~/Content/img/p4.jpg" class="img-responsive" alt="">

                    <div class="portfolio-caption">
                        <h4>Rebuilding kennels</h4>
                        <p class="text-muted">These dogs need your help</p>
                    </div>
                </div>
            </a>

            <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Content/img/p5.jpg" class="img-responsive" alt="">

                    <div class="portfolio-caption">
                        <h4>Layth Pathe</h4>
                        <p class="text-muted">Layth beloved friend needs help with treatments for paraplegia</p>
                    </div>
                </div>
            </a>

            <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                <div class="col-md-4 col-sm-6 portfolio-item">

                    <img src="~/Content/img/p6.jpg" class="img-responsive" alt="">

                    <div class="portfolio-caption">
                        <h4>Ollie Carpenter</h4>
                        <p class="text-muted">Needs money for medical bills</p>
                    </div>

                </div>
            </a>

        </div>
    </div>
</section>


<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">How we help</h2>
        <h3 class="text-muted">Each donation is important. See how you can help homeless people.</h3>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-4">
        <h1><i class="glyphicon glyphicon-cutlery"></i></h1>
        <h3>$2</h3>
        <p>
            Dinner for one person
        </p>
    </div>
    <div class="col-md-4">
        <h1><i class="glyphicon glyphicon-user"></i></h1>
        <h3>$5</h3>
        <p>One night and dinner for one person</p>
    </div>
    <div class="col-md-4">
        <h1> <i class="glyphicon glyphicon-home"></i></h1>
        <h3>$10</h3>
        <p>Dinner and place for one night for a family</p>
    </div>
</div>




<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->
<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Weʼre raising $120,000 to Alexander's Journey</h2>
                            <p class="item-intro text-muted">Alexander Goodwin is a nine year old boy who loves sharks, dinosaurs, birds of prey and anything to do with nature. </p>
                            <img class="img-responsive img-centered" src="/Content/img/p1.jpg" alt="">
                            <p>On 8th June 2016 the family had some terrible news that Alex had been diagnosed with Ewing Sarcoma of his right femur. Alex has been struggling with constant leg pain since Christmas 2015 and has used crutches since April 2016. He was initially misdiagnosed until finally being told it was cancer in June.</p>
                            <p>Ewing Sarcoma is a rare type of bone cancer that affects children. Fewer than 30 children in the UK develop Ewing's Sarcoma each year.</p>
                            <p>Alex has had weeks of scans and tests and months of chemotherapy. He has just completed his first cycle of chemotherapy. He has lived for months in constant pain and discomfort using crutches since April and is now reliant for any extended period of time on a wheelchair to get around.</p>
                            <p>This week we have been informed that the cancer has spread and this has significantly reduced Alexander's prognosis and chances of survival. importantly it has reduced the treatment options available to Alexander on the NHS. In order to maximise Alexanders chances of survival against this awful disease and give him the best possible treatment we are desperately seeking to obtain the support, knowledge and expertise of the leading medical professionals in this field here in the U.K and abroad. We also wish to ensure that we take advantage of the latest treatments of this type of cancer where appropriate including Proton Beam Therapy and other treatments that may not be available to Alex on the NHS. Time is of the essence and we cannot afford any further delays so we must do whatever we can to speed things up and obtain the best treatment and this will cost money.</p>
                            <p>At present we are unsure as to the exact costs involved until comprehensive treatment plans are in place.</p>
                            <ul class="list-inline">
                                <li>Start Date: September 26, 2016</li>
                                <li>Bank account: 4221412088947694</li>
                            </ul>
                            <a class="btn btn-primary btn-lg" href="/CanHelps/Create">Donate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>We are raising $60000 for Eliza</h2>
                            <p class="item-intro text-muted">Help 2-year old Eliza Turner to fight cancer</p>
                            <img class="img-responsive img-centered" src="~/Content/img/p2.jpg" alt="">
                            <p>Our beautiful 2 year old daughter Eliza has severe stage 4 Neuroblastoma, a rare and highly dangerous infant cancer. As is usual with this form of cancer, it has spread throughout the body into the bone marrow. When we first came into hospital she was in a serious condition and in severe pain arching her back to stop the tumor pushing against her organs, it was horrific. My heart was broken into a thousand pieces and I spent the first few weeks desperately trying to make a plan to fix Eliza in between completely falling apart. The more I researched the more I came to realize that even cancer as aggressive as this can be treated as she is so young especially if given a helping hand at every stage of the treatment, so at this stage nothing is a foregone conclusion. </p>
                            <p>Specialists have told us that there is a clinic in Germany that can offer Eliza post chemo 3 week immune building treatment to give her every chance possible. There are also new developments in the field of neuroblastoma in the US, currently unavailable on the NHS,such as targeted chemotherapy and immunotherapy techniques that are being carefully considered at every stage. For now we are starting with a specialist diet, supplements and equipment that helps her immune system fight the cancer and limits the damaging effects of 'Rapid Cojec' one of the most intensive front-line chemotherapy protocols in modern medicine. It is expensive but together with her cheeky determination it seems to be working! Eliza has developed a great sense of humor, is happy and laughing as she has not done for many months. We want to do everything we can to give her the best chance. With this treatment, the chemo and Eliza's amazingly positive character, she has made huge strides forward in her overall health. The battle is not won, but we feel we are on the right track. We cannot thank you enough for taking the time to read Eliza's story and if you can help so Eliza continues to shine a positive light on this world.</p>
                            <ul class="list-inline">
                                <li>Start Date: September 30, 2016</li>
                                <li>Bank account: 6549635088995126</li>
                            </ul>
                            <a class="btn btn-primary btn-lg" href="/CanHelps/Create">Donate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Weʼre raising $40,000 for Bill</h2>
                            <p class="item-intro text-muted"> We hope to raise money to get Bill to Germany for life saving immunotherapy, to cure his rare form of C.U.P. cancer. </p>
                            <img class="img-responsive img-centered" src="~/Content/img/p3.jpg" alt="">
                            <p>My dad is 52 years young & he is battling with C.U.P... A rare form of cancer. He's been told he has just 6 months left to live. </p>
                            <p>Dad may have the opportunity to travel to Germany to undergo immunotherapy treatment. This is a pioneering new treatment with huge success rates, putting many patients (even with terminal diagnosis) into complete remission. This life saving treatment comes at a cost of around $40,000 per cycle. Money that we just do not have access to.</p>
                            <p>My dad has never been a charity. He has worked all of his life to provide for his chronically ill wife, his disabled son & I. He has never asked for help before in his life (even now in this desperate situation, he does not feel a worthy enough cause & has resigned himself as beyond help). He may not feel like an important person in this world, but I can assure you that he is the most important person in our world. He has 3 young grandchildren who idolise him, & I am sure they would feel the pain of losing him as deeply as loosing a parent. He has a wonderful extended family who I know will do all they can to help, but sadly it's just not enough. Which is why I am pleading with as many people as possible: please give what you can, by giving a donation you are giving hope to my family: that my brother wont lose his carer, his friend & his constant source of support & that my mother won't lose "her half", the man she has loved since she was 14 years old, her protector & her rock. You will have saved 3 little girls from a broken heart & will have enabled me to make the impossible - possible!</p>
                            <ul class="list-inline">
                                <li>Start Date: September 30, 2016</li>
                                <li>Bank account: 5215192903325426</li>
                            </ul>
                            <a class="btn btn-primary btn-lg" href="/CanHelps/Create">Donate</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>We need $2000 to rebuild the kennels</h2>
                            <p class="item-intro text-muted">Help buy food & go towards rebuilding the kennels that sadly burnt down a week ago. These dogs need your help</p>
                            <img class="img-responsive img-centered" src="~/Content/img/p4.jpg" alt="">
                            <p>
                                A friend who has dedicated so much time to helping rehabilitate rescue dogs has suffered a severe blow today when her kennels burnt down sadly loosing 5 dogs but managing to rescue 5 others, she has suffered 3rd degree burns rescuing the dogs and now needs your help to raise money to pay for the food that was destroyed in the fire and help the other dogs from GSDR.
                                Please donate to help no matter how small.
                            </p>
                            <p>All funds raised through this page will be handed in full to GSDR. No money will go directly to Ian or Debbie. GSDR will use the money help with the ongoing costs of this tragedy but only once needs are assessed and following the their proper charitable procedures</p>
                            <ul class="list-inline">
                                <li>Start Date: October 3, 2016</li>
                                <li>Bank account: 9514872906395286</li>
                            </ul>
                            <a class="btn btn-primary btn-lg" href="/CanHelps/Create">Donate</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Weʼre raising $100,000 to help Layth </h2>
                            <p class="item-intro text-muted">Layth needs help with disability living adaptations, a technical wheelchair, rehab therapies & pioneering treatments for paraplegia.</p>
                            <img class="img-responsive img-centered" src="~/Content/img/p5.jpg" alt="">
                            <p>Maybe you all have a friend like Layth, someone who will "show up" for you, with an ability to make you feel loved, understood and cherished even in your darkest moments. On 5th August 2016 tragedy hit our beautiful friend Layth. He had a serious accident whilst out on a cycling trip to celebrate his 40th birthday. The consequences were devastating. He was tragically and cruelly left paralysed from the waist down and has been told he will never walk again. And yet, whilst lying in a hospital bed coming to terms with the magnitude of these life changing events, Layth's concern has been for the wellbeing of his wife, their three children and the reality of their future with no insurance to cover the costs of what's needed to manage their new life. </p>
                            <p>Layth is now enduring the long and painful process of rehabilitation in James Cook Hospital to learn and relearn life skills aiming to live a fully independent life in a wheelchair. Many physical changes are needed at Layth's home to enable him and his family find a new 'normal' life together.</p>
                            <p>Layth and his wife, Kerry, are determined to ensure their future remains bright, with a house full of love and a life full of adventure. His children want their daddy to have an 'all terrain' wheelchair so he can still be part of the things they loved, den building, forest walks and family trips to the beach.</p>
                            <p>In addition, Layth has been introduced to a fellow paraplegic who has recently undergone ground breaking epidural stimulation and stem cell therapy abroad with promising results. Layth is hoping to undergo the same treatment as soon as possible. It's important to receive the treatment while muscle memory and tone remains. The treatment costs in the region of $50,000.</p>
                            <p>Layth's warmth and concern for others is woven into the very fabric of his being. He has always been there for us, now it's our turn to be there for him. Please help us support Layth and his family. Any donation will be gratefully received.</p>
                            <ul class="list-inline">
                                <li>Start Date: October 13, 2016</li>
                                <li>Bank account: 9547863906953684</li>
                            </ul>
                            <a class="btn btn-primary btn-lg" href="/CanHelps/Create">Donate</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Weʼre raising $10,000 to help Ollie Carpenter</h2>
                            <p class="item-intro text-muted">Ollie needs to settle his medical bills from severe injuries</p>
                            <img class="img-responsive img-centered" src="~/Content/img/p6.jpg" alt="">
                            <p>Ollie, together with other members of his family have been members of Horsley Sports Club (HSC) since 1995 and aside from being a fine tennis player had turned his skills to playing 1st cricket team and was nominated as 'Cricketer of the year' in 2013</p>
                            <p>Ollie travelled to New York City in autumn of 2014 and took to city life like a duck to water, enjoying every aspect of what the city had to offer. </p>
                            <p>Then, in October 2016, an event occurred that would forever change his life. After spending a day with friends, Ollie took a fall that resulted in devastating injuries, the most severe being a break to his T-6 vertebrate. The prognosis: paralysis from the chest down. </p>
                            <p>Unfortunately, because of his junior status in his company and the need to have expensive accommodation in Manhattan, heath insurance in the US was not affordable. </p>
                            <p>There are grounds for potential law suits, but this process could take years. We are therefore setting up this site to assist both Ollie and the Carpenter family with their immediate needs: Settlement of medical bills in the US, transport back to the UK not to mention the changes that will be required to the household back in the UK. </p>
                            <ul class="list-inline">
                                <li>Start Date: October 24, 2016</li>
                                <li>Bank account: 6011728291928463</li>
                            </ul>
                            <a class="btn btn-primary btn-lg" href="/CanHelps/Create">Donate</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




